<!DOCTYPE html>
<html>
  <!--
  Jackson Zou
  SoftDev2 pd9
  K11 -- Ay Mon Go Git It From Yer Flask
  2020-03-17
    -->
  <meta charset="utf-8">
  <h1> Info for Basketball Players </h1>
  <form action='/answer' method='GET'>
    <p>Pick your category:</p>
    <input type="radio" id="playername" name="type" value="playername">
    <label for="playername">Playername</label><br>
    <input type="radio" id="teamname" name="type" value="teamname">
    <label for="teamname">Teamname</label><br>
    <input type="radio" id="conference" name="type" value="conference">
    <label for="conference">Other</label><br>
    <input type="radio" id="division" name="type" value="division">
    <label for="divison">Division</label><br>
    <input type="radio" id="position" name="type" value="position">
    <label for="position">Position</label><br>

    <br>

    <input type="text" name="info" value="">

    <input type="submit">
  </form>
  <script src="">
  </script>
</html>
